# Student Configuration
# Change '66xxxxxx' to your Student ID (e.g. 66123456)
# Web Port: Any unique port (e.g. 8000 + last 2 digits)
STUDENT_ID=std67143508
STUDENT_NAME=std67143508
COMPOSE_PROJECT_NAME=std67143508
STUDENT_PORT=6049
FORWARD_DB_PORT=6050

# Database Configuration
# Hostname: std{ID}-db
# Database Port: Any unique port (e.g. 5400 + last 2 digits)
DB_CONNECTION=pgsql
DB_HOST=std67143508-db
DB_PORT=5432
DB_DATABASE=db_name
DB_USERNAME=db_67143508
DB_PASSWORD=db_password